@import "src/variables";

.log-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .25);
    background-color: lighten($accent, 42%);
}

.amount-container {
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    padding: 4px;
}

.amount-label {
    color: $base;
    font-size: 16pt;
    margin-right: 12px;
    text-align: center;
}

#log-input-amount-input {
    margin-right: 24px;
    flex: 1;
    font-size: 16pt;
    text-align: center;
    border-bottom: solid 2px $base;
    height: 24px;
}

.type-selector {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
}

.icon-selected-border {
    margin: 10px;
    display: flex;
    text-align: center;
    padding: 4px;
    border-radius: 100%;
    
    &:hover {
        margin: 8px;
        border: 2px solid $check;
    }
    
    &.selected{
        margin: 8px;
        border: 2px solid $check;
        box-shadow: 0px 0px 8px 0.25px $check;
    }

    svg {
        width: 60px;
        height: 60px;
        background-color: $check;
        border-radius: 100%;
        padding: 4px;
    }
}

@media screen and (max-width: 540px) { 
    .log-input-container {
        justify-content: space-evenly;
    }

    .type-selector {
        margin-left: 0;
    }
}