.game-log-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.log-feed { 
    flex: 1;
    padding: 24px;
    overflow: auto;
}

.log-entry {
    display: flex;
    margin: 6px 0;

    .name,.amount {
        font-size: 18pt;
        margin-right: 8px;
        align-self: center;
    }

    .type{
        margin-right: 16px;
        margin-top: 4px;

        svg {
            width: 64px;
            height: auto;
            opacity: 45%;
        }
    }
}