//https://coolors.co/02111b-3f4045-30292f-5d737e-fcfcfc 
//https://coolors.co/2b2d42-e0c1b3-72b01d-3f7d20-648381
//https://coolors.co/2b2d42-42cafd-758173-a9c5a0-c6dec6
//https://coolors.co/2b2d42-42cafd-aa968a-8f250c-b49a67

//https://www.canva.com/colors/color-palettes/rocks-and-barefoot/
//https://www.canva.com/colors/color-palettes/here-at-home/

$base: #2B2D42;
$accent: #B49A67;
$check: #42CAFD;
$toHit: #AA968A;
$damage: #8F250C;